/config.json
*/__pycache__
*/__pycache__/*
/.venv
/.DS_Store
/compile.sh
config.json
commands/.DS_Store
utils/.DS_Store
themes/jemery.json
backups/*
ghost.log
changelog.py
data/.DS_Store
themes/.DS_Store
themes/Astolfo.json
themes/axolotl.json
themes/blank.json
themes/Blurpled.json
themes/Discord.json
themes/Floppa.json
themes/GhostNeon.json
themes/hackerman.json
themes/microsoft.json
themes/NotASelfbot.json
themes/Old Cloud Themes.zip
themes/pepe.json
themes/React.json
themes/rose.json
themes/toemad.json
data/sniped_codes.txt
data/privnote_saves.json
